bin/
target/

.idea/
.idea_modules/
.settings/
.cache
.project
.classpath
.bloop
.bsp
*.iml
*.ipr
*.iws

*.o
*.hi
*.thy
ROOT.ML
*~

*.lof
*.log
*.lot
*.synctex.gz
*.toc
*.v#

*.zip
*.tar
*.gz
*.xz

report/*.*
!report/*.tex
!*/*.tex
!report/*.cls
!report/ACM-Reference-Format.bst
!report/*.bib
!report/.latexmkrc

!evaluation/haskell/**/*.log
!evaluation/smtlib2/**/*.log
!evaluation/propel/**/*.log

!evaluation-tip/haskell/**/*.log
!evaluation-tip/smtlib2/**/*.log
!evaluation-tip/propel/**/*.log
