bin/
target/

.idea/
.idea_modules/
.settings/
.cache
.project
.classpath
.bloop
.bsp
*.iml
*.ipr
*.iws

*.lof
*.log
*.lot
*.synctex.gz
*.toc
*.v#

report/*.*
!report/*.tex
!*/*.tex
!report/*.cls
!report/ACM-Reference-Format.bst
!report/*.bib
